# Ignore compiled program 
RPNcalc

# Ignore stack files 
*.stack

# Ignore profiles, once functionality is added 
*.profile

# Ignore user variables, once functionality is added 
*.variables

# Ignore vim swap files 
*.swp 
